.profile-menu {
  background: white;
  border-radius: 16px;
  padding: 15px;
  margin-top: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.profile-menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px; /* Espacio entre ícono y texto */
  background: transparent;
  border: none;
  padding: 14px 16px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #6b7280;
  transition: all 0.2s ease;
  font-weight: 500;
}


.profile-menu-item:hover {
  background-color: #f9fafb;
}


/* El azul del diseño original */
.profile-menu-item.active {
  background-color: #eff6ff; /* Azul muy clarito de fondo */
  color: #2563eb; /* Azul brillante para el texto e ícono */
  font-weight: 600;
}


